body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.head {
  width: 150px;
  height: 150px;
  margin: 50px;
  background-color: #a4d9eb;
  border: 5px solid #9bbcc2;
  border-radius: 20px;
  position: relative;
}

.light {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.bulb {
  width: 30px;
  height: 30px;
  background-color: #ffa500;
  border-radius: 50%;
}

.stick {
  width: 10px;
  height: 15px;
  background-color: #808080;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.ears {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.ear {
  width: 10px;
  height: 50px;
  background-color: #c90a0a;
}

.ear:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ear:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.eyes {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eye {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 5px solid #00b3ff;
  border-radius: 50%;
}

.nose {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #c90a0a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouth {
  width: 100px;
  height: 25px;
  background-color: #dedede;
  border: 1px solid black;
  border-radius: 20px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooth {
  width: 5px;
  height: 100%;
  background-color: black;
  flex: 1;
  margin: 0 2px;
}
